@model BTv6.Models.product

@RenderPage("~/Views/Admin/Common.cshtml")

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/manage.css">
</head>
<body>
    <div class="box">

        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    ID.
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Name
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.P_NAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.P_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Chose Image File
                    <div class="col-md-10">
                        <input style="margin-top: 5px" type="file" name="avatar" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
                        @Html.ValidationMessageFor(model => model.P_IMG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Type
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TYPE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Quantity
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Buy Price
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BUY_PRICE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BUY_PRICE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Sell Price
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SELL_PRICE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SELL_PRICE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

