@if ((int)Session["SID"] == 1)
{
    @RenderPage("~/Views/Admin/Common.cshtml")
}
@if ((int)Session["SID"] == 2)
{
    @RenderPage("~/Views/Manager/Common.cshtml")
}
@if ((int)Session["SID"] == 3)
{
    @RenderPage("~/Views/Salesman/Common.cshtml")
}
@if ((int)Session["SID"] == 4)
{
    @RenderPage("~/Views/Deliveryman/Common.cshtml")
}


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Notes</title>
        <link rel="stylesheet" type="text/css" href="~/Assets/css/notes.css">
        @*<script src="{{ URL::to('js/saveNotes.js') }}"></script>*@

    </head>
    <body>
        <div class="box">
            <h1>Take your Note</h1>

            <form method="post">
                <input type="text" name="NoteName" id="name" placeholder="Note Name" value=" @TempData["names"]">
                <input type="Submit" name="PUSH" value="PUSH">
                <input style="margin-left: 80px;width: 20%;" type="text" value=" @TempData["id"]"placeholder="Search by id" name="NoteID" >
                <input type="hidden" name="NoteID" value="">
                <input style="margin-left: 5px;width: 15%;" type="Submit" name="SEE" value="SEE"><br>
                <textarea placeholder="Write...." name="Text" id="notes" cols="46" rows="20">@TempData["texts"]</textarea><br>
                <input type="submit" name="REFRESH" value="REFRESH">
                <input style="margin-left: 30px;" type="submit" name="PRINT" value="PRINT" onclick="return saveFile()">
                <br><br>
                <input type="submit" name="UPDATE" value="UPDATE" />
                <input style="margin-left: 30px;" type="submit" name="DELETE" value="DELETE"><br><br>
            </form>
            <h2 style="color:red">
                @TempData["message"]

            </h2>
            <div align="right" class="table">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Note Id</th>
                            <th>Note Name</th>
                            <th>Note Details</th>
                        </tr>
                    </thead>
                    <tbody class="tab" id="tab">

                        @foreach (var item in ViewData["notes"] as List<BTv6.Models.note>)
                        {
                            <tr>
                                <td>
                                    @item.NoteID

                                </td>
                                <td>
                                    @item.NoteName
                                </td>
                                <td>
                                    @item.Text
                                </td>
                            </tr>
                           
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
