@model List<BTv6.Models.product>

@RenderPage("~/Views/Customer/Common.cshtml")

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/orderProducts.css">
    <title>Order Products</title>
</head>
<body>
    <div class="box">
        <h1>Order Products</h1>
        <hr>
        @if (Model.Count() == 0)
        {
            <p style="color: red">No Products Available</p>
        }
        else
        {
            foreach (var product in Model)
            {
                if (product.AVAILABILITY.Equals("AVAILABLE"))
                {
                    if (product.QUANTITY > 0)
                    {
                        <form method="post">
                            <div class="cart" style="margin-left: 25px;">
                                <p><img src="@Url.Content(product.P_IMG)" alt="@product.PID" height="45" width="45" /></p>
                                @*<p><img src="@product.P_IMG" alt="@product.PID" height="45" width="45" /></p>*@
                                <p>Product ID: @product.PID</p>
                                <p>Product Name: @product.P_NAME</p>
                                <p>Available Quantity: @product.QUANTITY</p>
                                <p>Price: @product.SELL_PRICE</p>
                                <p>Type: @product.TYPE</p>
                                <hr>
                                <a class="buy" style="padding-left: 20px;" href="~/Customer/BuyProduct/@product.PID">Buy</a>
                            </div>
                        </form>
                    }
                }
            }
        }
    </div>
</body>
</html>