@if ((int)Session["SID"] == 1)
{
    @RenderPage("~/Views/Admin/Common.cshtml")
}
@if ((int)Session["SID"] == 2)
{
    @RenderPage("~/Views/Manager/Common.cshtml")
}
@if ((int)Session["SID"] == 3)
{
    @RenderPage("~/Views/Salesman/Common.cshtml")
}
@if ((int)Session["SID"] == 4)
{
    @RenderPage("~/Views/Deliveryman/Common.cshtml")
}
@if ((int)Session["SID"] == 5)
{
    @RenderPage("~/Views/Customer/Common.cshtml")
}
@model BTv6.Models.log_in
<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <!--<link rel="stylesheet" type="text/css" href="assets/styles/changepassword.css">
    <script src="assets/js/changePass.js"></script>-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/changepassword.css">
</head>

<body>
    <div class="loginbox">
        <h1>Password Change</h1>
        <form method="POST">
            <p>Old Password</p>
            <input type="password" name="PASS" placeholder="Enter Old Password" value=""><br>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.PASS)</span>
            <p>New Password</p>
            <input type="password" name="newpassword" placeholder="Enter New password" value=""><br>
            <span id="err"></span>
            <p>Confirm New Password</p>
            <input type="password" name="confirmnewpassword" placeholder="Confirm New password" value=""><br>
            <input type="submit" name="PROCEED" value="Proceed"><span style="color:red">@TempData["Error"]</span><span style="color:red">@TempData["Error1"]</span>
        </form>
    </div>
</body>
</html>
