@model BTv6.Models.order
@RenderPage("~/Views/Manager/Common.cshtml")
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/buy.css">
    <title>Select Delivery Man</title>
</head>
<body>
    <form method="post">
        <div class="box">
            <h1>Confirm Order</h1>
            <hr>
            <p>Order ID</p>
            <input type="text" name="orderid" value="@Model.orderid" readonly>
            <p>Product ID</p>
            <input type="text" name="proid" value="@Model.prodid" readonly>
            <p>Quantity</p>
            <input type="text" name="quant" value="@Model.quant" readonly>
            <p>Cash</p>
            <input type="text" name="ammount" value="@Model.ammout" readonly>
            <p>Order Date</p>
            <input type="text" name="ord_date" value="@Model.ord_date" readonly>
            <p> <span style="color:red">*</span>Delivery By</p>
            <input type="number" placeholder="Enter Delivery Man ID." value="@Model.deliveryby" name="deliveryby" required><br>
            <input type="submit" value="CONFIRM">
        </div>
    </form>
</body>
</html>
