@RenderPage("~/Views/Manager/Common.cshtml")
@model List<BTv6.Models.product>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/manage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Assets/js/excelPrint.js"></script>

</head>

<body>
    <div class="box">
        <form method="POST">
            <input type="submit" name="CREATE" id="CREATE" value="CREATE">
            <input type="submit" name="PRINT" id="PRINT" onclick="savePDF()" value="Export PDF">
            <input type="submit" name="excel" onclick="exportToExcel('tblexportData', 'user-data')" value="Export Excel">
        </form>
        <div align="right" class="table" id="table">
            <table class="content-table" id="tblexportData">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Sell Status</th>
                        <th>Qunatity</th>
                        <th>Buy Price</th>
                        <th>Sell Price</th>
                        <th>Added Date</th>
                        <th>Modify By</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id='tab'>
                    @if (Model.Count > 0)
                    {
                        foreach (var product in Model)
                        {
                            <tr>
                                <td align='center'>@product.P_NAME</td>
                                <td align='center'>@product.TYPE</td>
                                <td align='center'>
                                    @if (product.AVAILABILITY.Equals("AVAILABLE"))
                                    {
                                        <span>&#9989;</span>
                                    }
                                    else
                                    {
                                        <span>&#9940;</span>
                                    }
                                </td>
                                <td align='center'>@product.QUANTITY</td>
                                <td align='center'>@product.BUY_PRICE</td>
                                <td align='center'>@product.SELL_PRICE</td>
                                <td align='center'>@product.Add_PDate</td>
                                <td align='center'>@product.MOD_BY</td>
                                <td align='center'>
                                    <button style="width: 50px;height: 20px; font-size:12px;">@Html.ActionLink("Edit","EditProduct", new { id = product.PID })</button>
                                </td>
                            </tr>
                        }
                    }

                    else
                    {
                        <tr>
                            <td colspan='10' align='center'><span style="color:red">NO DATA FOUND</span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
