@if ((int)Session["SID"] == 1)
{
    @RenderPage("~/Views/Admin/Common.cshtml")

}
@if ((int)Session["SID"] == 2)
{
    @RenderPage("~/Views/Manager/Common.cshtml")

}
@if ((int)Session["SID"] == 3)
{
    @RenderPage("~/Views/Salesman/Common.cshtml")

}
@if ((int)Session["SID"] == 4)
{
    @RenderPage("~/Views/Deliveryman/Common.cshtml")

}

@model BTv6.Models.notice

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Notice</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/manage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    <div class="box">
        <h4>Notice</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Subject: &nbsp; @Html.DisplayFor(model => model.noteSub)
            </dt>
            <br />
            <br />
            <dt>
               Content
            </dt>

            <dd>
                <h3>@Html.DisplayFor(model => model.noticetext)</h3>
            </dd>

        </dl>
    </div>
</body>
</html>
