@if ((int)Session["SID"] == 1)
{
    @RenderPage("~/Views/Admin/Common.cshtml")
}
@if ((int)Session["SID"] == 2)
{
    @RenderPage("~/Views/Manager/Common.cshtml")
}
@if ((int)Session["SID"] == 3)
{
    @RenderPage("~/Views/Salesman/Common.cshtml")
}
@if ((int)Session["SID"] == 4)
{
    @RenderPage("~/Views/Deliveryman/Common.cshtml")

}
@if ((int)Session["SID"] == 5)
{
    @RenderPage("~/Views/Customer/Common.cshtml")

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/chatBox.css">
</head>
<body>

    <div align="center" class="table">
        <h2>
            <center>
                Chat Box
                <p style="color:green;">@TempData["message"]</p>
                <p style="color:red;">@TempData["error"]</p>
            </center>
            <form method="post">
                <div class="send">
                    <input type="submit" name="sendmessage" value="Send Message">
                    <input type="submit" name="seenmessage" value="SEEN">
                </div>
            </form>
            <br>
            <center>

                <p style="color:black;">New Messages <input type="submit" name="seenmessage" value="@TempData["ncount"]"></p>
            </center>
        </h2>

        <table class="content-table">
            <thead>
                <tr>
                    @*<th>#SL</th>*@
                    <th>From</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th></th>

                </tr>
            </thead>

            <tbody id='tab'>
                @{
                    //int i = 0;

                    foreach (var item in ViewData["receiver"] as List<BTv6.Models.chat>)
                    {
                        //i = i + 1;
                        <tr>
                            @*<td align='middle'>@i</td>*@
                            <td align='middle'>@item.SENDER</td>
                            <td align='middle'>@item.DATE</td>
                            <td align='middle'>@item.SUB</td>
                            <td align='left'>@item.TEXT</td>
                            <td><a href="~/Chat/showmessage/@item.MSG_ID"><input type="submit" value="Mark as Read"></a></td>

                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>

</body>
</html>

