
@RenderPage("~/Views/Deliveryman/Common.cshtml")
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/Delivery.css">
    <title>Pending Delivery List</title>
</head>
<body>
    <div align="center" class="table">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Date</th>
                    <th>Product ID</th>
                    <th>Ammount</th>
                    <th>Quantity</th>
                    <th>Order Total</th>
                    <th>Status</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id='tab'>
                @foreach (var item in ViewData["order"] as List<BTv6.Models.order>)
                {
                <tr>
                    <td align='middle'>@item.orderid</td>
                    <td align='middle'>@item.ord_date</td>
                    <td align='middle'>@item.prodid</td>
                    <td align='middle'>@item.ammout</td>
                    <td align='middle'>@item.quant</td>
                    <td align='middle'>@(@item.quant * @item.ammout)</td>
                    <td align='middle'>Confirmed</td>
                    <td align='middle'><a href="~/Deliveryman/Accepted/@item.orderid"><input type="submit" value="Accepted"></a></td>
                    <td align='middle'><a href="~/Deliveryman/Returned/@item.orderid"><input type="submit" value="Returned"></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

